.wrapper {
  margin: 0 auto;
  margin-top: 45px;
  width: 612px;
  height: 792px;
  border: 2px solid rgb(72, 75, 67);
}

.header {
  display: flex;
  height: 205px;
}
.header .header__col1 {
  width: 342px;
  margin: 46px 64px 49px 16px;
}
.header .header__col1-name {
  color: var(--Black, #222);
  font-family: IBM Plex Sans;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header .header__col1-proffession {
  margin-bottom: 14px;
  font-family: IBM Plex Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Gradient-2, linear-gradient(135deg, #FF26B2 0%, #851BD9 64.06%, #3F0FFF 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .header__col1-description {
  color: var(--Black, #222);
  font-family: IBM Plex Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}
.header .header__col1-social_networks {
  display: flex;
}
.header .social__network-cover {
  display: flex;
  height: 50px;
}
.header .network__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-right: 2px;
}
.header .network__link {
  align-items: center;
  display: inline-block;
  color: var(--Black, #222);
  text-align: right;
  font-family: IBM Plex Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-right: 28px;
}
.header .header__col2 {
  margin: 62px 65px 0px 0px;
  width: 125px;
  height: 125px;
  flex-shrink: 0;
  border-radius: 70px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}

.main {
  display: flex;
}
.main .main__col1 {
  width: 341px;
  margin: 49px 16px 0px 17px;
}
.main .col1__title {
  margin-bottom: 7px;
  color: var(--Black, #222);
  margin-bottom: 2px;
  /* Section Title */
  font-family: IBM Plex Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .col1__date {
  margin-bottom: 4px;
  /* Date */
  font-family: IBM Plex Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: var(--Gradient-2, linear-gradient(135deg, #FF26B2 0%, #851BD9 64.06%, #3F0FFF 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .col1__proffession-cover {
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.main .col1__proffession__one {
  color: var(--grey, #999);
  /* Job Title */
  font-family: IBM Plex Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .col1__proffession__two {
  margin-bottom: 3px;
  color: var(--grey, #999);
  /* Company */
  font-family: IBM Plex Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.main .col1__description {
  color: var(--Black, #222);
  /* Description */
  font-family: IBM Plex Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .col1__h-line {
  content: "";
  width: 342px;
  height: 0.5px;
  background: #999;
}
.main .main__col2 {
  margin-top: 49px;
  width: 222px;
}
.main .main__col2 .col2__h-line {
  content: "";
  width: 222px;
  height: 0.5px;
  background: #999;
  margin-top: 5px;
  margin-bottom: 6px;
}
.main .col2__proffession__one {
  color: var(--grey, #999);
  /* Job Title */
  font-family: IBM Plex Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .col2__proffession__two {
  color: var(--grey, #999);
  /* Company */
  font-family: IBM Plex Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.main .col2__listskills {
  color: var(--Black, #222);
  /* Description */
  font-family: IBM Plex Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .col2__languages {
  color: var(--Black, #222);
  /* Description */
  font-family: IBM Plex Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .project__title {
  color: var(--Black, #222);
  font-family: IBM Plex Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.main .col2__title {
  margin-bottom: 7px;
  margin-top: 20px;
  color: var(--Black, #222);
  /* Section Title */
  font-family: IBM Plex Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .col2__project__description {
  margin-bottom: 9px;
  color: var(--Black, #222);
  /* Description */
  font-family: IBM Plex Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=styles.css.map */